body {
    font-family: "Trebuchet MS", sans-serif;
}


label:not([for="helptoggle"]), .label-spacer {
    text-align: right;
    display: inline-block;
    width: 80px;
}


.top {
    vertical-align: top;
}


hr {
    border: none;
    border-top: 1px solid black;
    margin-left: -1em;
    margin-right: -1em;
}


input, textarea, select {
    margin: 1px;
}


h1 {
    text-align: center;
}


progress {
    width: 100px;
}


#content {
    margin: auto;
    display: table;
}


#timeout {
    width: 48px;
    text-align: center;
}


#running {
    display: none;
}


#helpbox {
    display: table;
    margin-left: auto;
    margin-top: 0.5em;
    font-size: 80%;
    text-align: right;
}


#helptoggle {
    display: none;
}

#helptoggle:checked + label #helptitle:before {
    content: "▾\a0";
}

#helptoggle:checked ~ #helpcontent {
    height: auto;
}


#helptitle {
    color: blue;
}

#helptitle::before {
    content: "▸\a0";
    text-decoration: none;
    display: inline-block;
}

#helptitle:hover {
    text-decoration: underline;
}


#helpcontent {
    font-size: 80%;
    height: 0;
    overflow: hidden;
    margin-right: 1.5em;
    text-align: left;
}


.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}
